<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <a class="btn btn-primary" href="/country/new">Create</a>
        <div class="btn-group">
        </div>
    </div>
    <!-- end col-12 -->
</div>
<br>
<!-- end row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h4 class="panel-title"><%= translate('country', 'title') %></h4>
            </div>
            <div class="panel-body">
                <!-- begin table -->
                <div class="dataTables_wrapper" id="yw0">
                    <table class="table-striped table-bordered table-hover dataTable table">
                        <thead>
                        <tr><%
    var sorted = (sort == "cty_name" || sort == '-cty_name'),
        asc = sort == "cty_name",
        url = 'country?sort=' + ((sorted && asc) ? '-' : '' ) + "cty_name"; %>
                            <th>
                                <a class="sort-link" href="<%- url %>">
                                    <%= translate('country', 'cty_name') %>
                                    <span class="<%= !sorted ? '' : (asc ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top') %>"></span>
                                </a>
                            </th><%
    var sorted = (sort == "cty_iso_code_2" || sort == '-cty_iso_code_2'),
        asc = sort == "cty_iso_code_2",
        url = 'country?sort=' + ((sorted && asc) ? '-' : '' ) + "cty_iso_code_2"; %>
                            <th>
                                <a class="sort-link" href="<%- url %>">
                                    <%= translate('country', 'cty_iso_code_2') %>
                                    <span class="<%= !sorted ? '' : (asc ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top') %>"></span>
                                </a>
                            </th><%
    var sorted = (sort == "cty_iso_code_3" || sort == '-cty_iso_code_3'),
        asc = sort == "cty_iso_code_3",
        url = 'country?sort=' + ((sorted && asc) ? '-' : '' ) + "cty_iso_code_3"; %>
                            <th>
                                <a class="sort-link" href="<%- url %>">
                                    <%= translate('country', 'cty_iso_code_3') %>
                                    <span class="<%= !sorted ? '' : (asc ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top') %>"></span>
                                </a>
                            </th><%
    var sorted = (sort == "cty_status" || sort == '-cty_status'),
        asc = sort == "cty_status",
        url = 'country?sort=' + ((sorted && asc) ? '-' : '' ) + "cty_status"; %>
                            <th>
                                <a class="sort-link" href="<%- url %>">
                                    <%= translate('country', 'cty_status') %>
                                    <span class="<%= !sorted ? '' : (asc ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top') %>"></span>
                                </a>
                            </th>
                            <th id="action">action</th>
                        </tr>
                        <tr class="filters">
                            <td>
                                <div class="filter-container">
                                <input class="form-control"  name="q[cty_name]" type="text" value="<%= Query.cty_name %>">
                            </div></td>
                            <td>
                                <div class="filter-container">
                                <input class="form-control"  name="q[cty_iso_code_2]" type="text" value="<%= Query.cty_iso_code_2 %>">
                            </div></td>
                            <td>
                                <div class="filter-container">
                                <input class="form-control"  name="q[cty_iso_code_3]" type="text" value="<%= Query.cty_iso_code_3 %>">
                            </div></td>
                            <td>
                                <div class="filter-container">
                                    <select class="form-control filter-select2"
                                            name="q[cty_status]"
                                            id="q_cty_status">
                                        <option value="">All</option>
                                        <option value="draft"
                                                <% if (Query.cty_status == "draft") { %>selected="selected"<% } %>>
                                            <%= translate('country', 'draft'); %>
                                        </option>
                                        <option value="online"
                                                <% if (Query.cty_status == "online") { %>selected="selected"<% } %>>
                                            <%= translate('country', 'online'); %>
                                        </option>
                                        <option value="delete"
                                                <% if (Query.cty_status == "delete") { %>selected="selected"<% } %>>
                                            <%= translate('country', 'delete'); %>
                                        </option>
                                    </select>
                            </div></td>
                            <td><div class="filter-container"></div></td>
                        </tr>
                        </thead>
                        <tbody><%
rows.forEach(function(record) { %>
                        <tr onclick="editRow(event, '/country/<%= record.cty_id %>')" style="cursor: pointer" class="odd">
                            <td>
                                <%= record.cty_name %>
                            </td>
                            <td>
                                <%= record.cty_iso_code_2 %>
                            </td>
                            <td>
                                <%= record.cty_iso_code_3 %>
                            </td>
                            <td>
                                <%= record.cty_status %>
                            </td>
                            <td class="action-buttons center">
                                <a class="action-buttons text-danger"
                                   onclick="rest.delete('/api/country/<%= record.cty_id %>')"
                                   id="yt0">
                                    <i class="action-buttons fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr><%
}); %>
                        </tbody>
                    </table>
                    <div class="row-fluid">
                        <div class="col-xs-6">
                            <div class="dataTables_info"><%= translate('system', 'Displaying __START__-__END__ of __COUNT__ result.', {
                                        __START__: count > 0 ? (page - 1) * limit + 1 : 0,
                                        __END__: page * limit < count ? page * limit : count,
                                        __COUNT__: count
                                    }) %></div>
                        </div>
                        <div class="col-xs-6"><%
if (count / limit > 1) { %>
                            <div class="dataTables_paginate fg-buttonset ui-buttonset fg-buttonset-multi ui-buttonset-multi paging_bootstrap pagination">
                                <div id="yw1" class="dataTables_paginate paging_simple_numbers">
                                    <a class="previous
                                       <% if (page <= 1) { %>disabled<% } %>"
                                       aria-controls="data-table"
                                       data-dt-idx="0"
                                       tabindex="0"
                                       href="/country?page=<% if (page > 1) { %> <%= page - 1 %> <% } else { %> <%= page %> <% } %> <%= sort ? '&' + sort : '' %>">&lt; Précédent</a><%
    var p = page <= 5 ? 1 : page - 5;
    for (var i = 0; i < 10 && p < count / limit + 1; i++, p++) { %>
                                    <a class="<% if (p == page) { %>current<% } %>"
                                       aria-controls="data-table"
                                       data-dt-idx="0"
                                       tabindex="<%= p %>"
                                       href="/country?page=<%= p %> <%= sort ? '&' + sort : '' %>"><%= p %></a><%
    } %>
                                    <a class="next
                                       <% if (count / limit <= page) { %>disabled<% } %>"
                                       aria-controls="data-table"
                                       data-dt-idx="1"
                                       tabindex="0"
                                       href="/country?page=<% if (count / limit > page) { %> <%= page + 1 %> <% } else { %> <%= page %> <% } %> <%= sort ? '&' + sort : '' %>">Suivant &gt;</a>
                                </div>
                            </div><%
} %>
                        </div>
                    </div>
                </div>
                <div id="loading" style="display: none;"><i class="icon-spinner icon-spin blue bigger-500"></i></div>
            </div>
            <!-- end table -->
        </div>
    </div>
    <!-- end panel -->
</div>
<!-- end row -->
<script>
    function initPage() {
        $(".default-select2").select2();
    }
</script>